/* body style */
body{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* form style */
form{
    margin:  30px auto;
    padding: 20px;
    border-radius: 12px;
    background: #c6e7daff;
    max-width: 800px;
}
h2{
    text-align: center;
    color: #0f5392ff;
    font-weight: 900;
}
/* fieldset */
fieldset{
    border: 2px solid #920f92ff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}
/* legend style */
legend{
    color: #270f92ff;
    font-weight: 600;
}
/* lable style */
label{
    display: block;
    color: rgb(43, 2, 41);
    font-weight: 300;
    margin-top: 18px;
}
input, select, textarea{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ccc;
}

/* radio buttons */
input[type="radio"]{
    width: auto;
}
/* button style */
button{
    background-color: #0f5392ff;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}